.App {
    padding: 20px;
}
.container {
    max-width: 600px !important;
    margin: 10px auto;
    padding: 0 !important;
}

.container__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.todo {
    margin: 10px 0;
    padding: 10px;
    flex-direction: row !important;
    justify-content: space-between;
}

div.dark, .dark button   {
    background-color: #1b1b1d !important;
    color: #E3E3E3 !important;
    border-color: #E3E3E3 !important;
}

.loader {
    max-height: 25px;
}